html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  line-height: $line-height-base;
  font-size: $font-size-base;
}

* {
	box-sizing: border-box;
}

/** 
 * prevent jumpy pages
 */

body {
	overflow-y: scroll;
}

/**
 *
 */

.navbar-toggler,
.collapsed {
  margin-right: calc($grid-gutter-width / 2);
}

/**
 * setting up the jumbotron, because bs5 doesn't support that
 */

.jumbotron {
  margin-bottom: 2rem;
  background-color: $white;
  border-radius: .3rem;
}

#short-introduction,
#contact-info .container .row,
.divider {
	margin-bottom: .5rem;
	padding-bottom: .5rem; 
}

#copyright {
	margin-top: .5rem;
	padding-top: .5rem; 
}

.divider {
	border-top: 1px solid $gray-400;
}