h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-oswald;
  margin: calc($grid-gutter-width / 3) 0;
  padding: calc($grid-gutter-width / 3) 0;
}

p, a {
  font-family: $font-family-lato;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

a {
	color: $black;
	text-decoration: none;

	&:hover {
		color: $gray-900;
		text-decoration: underline;
	}
}

/**
 * text-shadow
 *
 */

.text-shadow {
  text-shadow: 2px 2px 4px $gray-900;
}

#homepage {
	a {
			font-weight: $font-weight-bold;
	}
}